<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abu Naaim Md. Montasir Rahman</title>
    <link rel="icon" type="image/x-icon" href="./img/logo.png">

    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/archive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header class="header" id="header">
        <div>
            <img src="./img/logo.png" alt="" srcset="" class="logo">
        </div>
        <div class="header-link">
            <a class="header-text a1" href="#about"><b>01.</b>About</a>
            <a class="header-text a2" href="#jobs"><b>02.</b>Experience</a>
            <a class="header-text a3" href="#projects"><b>03.</b>Work</a>
            <a class="header-text a4" href="#contact"><b>04.</b>Contact</a>
            <a class="header-resume a5" target="_blank" href="./file/resume.pdf" >Resume</a>
        </div>
    </header>
    
    <div  class="left-content">
            <a target="_blank" href="https://github.com/montasirrahman"><i class="fa fa-github"></i></a>
            <a target="_blank" href="https://www.instagram.com/montasirrahmanutsho"><i class="fa fa-instagram" ></i></a>
            <a target="_blank" href="https://twitter.com/MontasirRahman_"><i class="fa fa-twitter" ></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/montasirrahmanutsho/"><i class="fa fa-linkedin" ></i></a>
            <a target="_blank" href="https://codepen.io/montasirrahman"><i class="fa fa-codepen" ></i></a>

            <p class="line-left"></p>
    </div>

    <div  class="right-content">
        <a class="right-content-a" href="mailto:montasirrahmanbd@gmail.com">montasirrahmanbd@gmail.com</a>
        <p class="line-right"></p>
    </div>

    <main>
        <div class="archive">
            <h2 class="big-archive">Archive</h2>
            <h3 class="i_work">A big list of things I’ve worked on</h3>
        </div>
        <table class="portfolio_item">
            <tr>
                <th>Year</th>
                <th>Title</th>
                <th>Made at</th>
                <th>Built With</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>2022</td>
                <td>Bloging website with admistrator</td>
                <td>Asif Tech</td>
                <td>Nodejs,Expressjs,MySQL</td>
                <td><a href="https://github.com/montasirrahman/blog_nodejs_expressjs_mysql" class="" target="_blank" rel="noopener noreferrer"><i class="fa fa-github"></i></a></td>
            </tr>
        </table>
    </main>
    

    <!-- partial -->
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script><script  src="./js/script.js"></script>
</body>
</html>
